@import "tailwindcss";
body {
  font-family: IBM Plex Sans, -apple-system, blinkmacsystemfont, Segoe UI, roboto, oxygen-sans, ubuntu, cantarell, Helvetica Neue, sans-serif;
}
.divider {
  height: 2px;
  background-color: black;
}

.vertical-divider {
  width: 5px;
  height: 100%;
  transform: rotate(90deg);
  transform-origin: left top;
  background-color: #e61717;
  border: none;
}

.ant-modal-body {
  padding: 0 !important;
  font-size: 14px;
  line-height: 1.5715;
  background-color: black;
  word-wrap: break-word;
}

.bg-white {
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}


.hm-content {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000014;
  border: 1px solid #ebecf1;
  border-radius: 8px;
  opacity: 1;
  padding: 5px 15px 5px 15px;
}
