<nz-layout class="h-100vh">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="layoutService.isCollapsed"
    [nzTrigger]="null"
    [class.hidden-on-small]="layoutService.isCollapsed && (_isSmallScreen | async)"
  >
    <div class="drawer">
      <div class="header d-flex justify-content-center align-items-center">
        <div class="logo mt-5 mb-3">
          @if (layoutService.isCollapsed) {
            <img class="avatar-collapsed" src="assets/imgs/me.jpg" alt="img">
          } @else {
            <img class="avatar-uncollapsed" src="assets/imgs/me.jpg" alt="img">
          }
        </div>
      </div>

      <div class="body">
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item routerLink="/me">
            <nz-icon nzType="star" nzTheme="outline" />
            <span>Me</span>
          </li>
          <li nz-menu-item routerLink="/album">
            <nz-icon nzType="star" nzTheme="outline" />
            <span>Albums</span>
          </li>
          <li nz-menu-item routerLink="/blog">
            <nz-icon nzType="star" nzTheme="outline" />
            <span>Blogs</span>
          </li>
          <li nz-menu-item routerLink="/three">
            <nz-icon nzType="star" nzTheme="outline" />
            <span>Threes</span>
          </li>
        </ul>
      </div>
      <hr class="mb-1 divider">
      <div class="footer">
        @if (layoutService.isCollapsed) {
          <button (click)="layoutService.isCollapsed = !layoutService.isCollapsed" nz-button nzType="primary" [nzSize]="'small'" nzShape="round">
            <nz-icon nzType="double-left" nzTheme="outline" />
          </button>
        } @else {
          <button (click)="layoutService.isCollapsed = !layoutService.isCollapsed" nz-button nzType="primary" [nzSize]="'small'" nzShape="round">
            <nz-icon nzType="double-right" nzTheme="outline" />
          </button>
        }
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header class="topbar-background-color center shadow">
      <app-header></app-header>
    </nz-header>
    <nz-content class="mt-3">
      <router-outlet/>
    </nz-content>
    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
